@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>
  <a href="/insecure">Go to Insecure Page</a>
</p>
<p>
  <a href="/secure">Go to Secure Page</a>
</p>
<p>
  <a href="/secure-for-superuser">Go to Secure Page for Superuser Role</a>
</p>