@page "/insecure"

@inherits AppComponentBase

<h3>Insecure Page - @UserName</h3>

@code {

  private byte[]? _payload;

  protected override void OnInitialized()
  {
    this._payload = new byte[1024 * 1024 * 100]; // 100 MB
  }
}
